input[type = text]
{
background-color: #1C0C1B;
border: solid 2px #62385D;
border-radius: 10px;
padding: 5px;
}


input[type = button]
{
background: linear-gradient(160deg,#A7A2CA,#B47B96);
border: solid 2px #62385D;
border-radius: 10px;
padding: 10px;
color: black;
}
